pytz==2014.4
pyxdg==0.25
pyzmq==14.0.1
queuelib==1.2.2
reportlab==3.0
requests-oauthlib==0.4.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.3.1
simplekv==0.9.2
six==1.4.1
software-center-aptd-plugins==0.0.0
statsmodels==0.5.0
system-service==0.1.6
tornado==3.1.1
trollius==1.0.1
unity-lens-photos==1.0
uritemplate.py==0.2.0
urllib3==1.7.1
virtualenv==1.11.6
w3lib==1.9.0
webassets==0.7
wsgiref==0.1.2
wstools==0.4.3
wtf-peewee==0.2.3
xdiagnose==3.6.3build2
xlrd==0.9.3
zope.interface==4.0.5
